<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Timbo Johnson</string>
		<key>bio</key>
		<string>Bio?</string>
		<key>socials</key>
		<array>
			<dict>
				<key>name</key>
				<string>Itch</string>
				<key>URL</key>
				<string>https://timbojay.itch.io</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Instagram</string>
				<key>URL</key>
				<string>https://instagram.com/timbojay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Threads</string>
				<key>URL</key>
				<string>https://threads.net/@timbojay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>X</string>
				<key>URL</key>
				<string>https://x.com/timbo_jay</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Dr. Ludos</string>
		<key>bio</key>
		<string>Bio?</string>
		<key>socials</key>
		<array>
			<dict>
				<key>name</key>
				<string>Patreon</string>
				<key>URL</key>
				<string>https://www.patreon.com/drludos</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Itch</string>
				<key>URL</key>
				<string>https://drludos.itch.io</string>
			</dict>
			<dict>
				<key>name</key>
				<string>X</string>
				<key>URL</key>
				<string>https://x.com/ludoscience</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
